* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    height: 50px;
    background-color: #046cfa;
    border: 1px solid white;
    color: white;
    text-align: center;
    padding: 15px;
}

.green {
    background-color: #00e265;
    border: 1px solid #046cfa;
}

.max {
    height: 100px;
    padding: 25px;
}